{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
        "languages": ["idris", "idr"],
        "plugins": ["line-numbers", "highlight-keywords", "match-braces", "command-line"],
        "css": true
    }]
  ]
}