@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
  @apply bg-sky-100 text-blue-600 rounded p-2 cursor-pointer;
}

.footer {
  @apply flex flex-row space-x-3 p-3 justify-end z-50 shadow-[0_-15px_30px_-25px_rgba(0,0,0,0.3)] border-solid border border-slate-200;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#material {
  padding-left: 10px;
}

#repl {
  background-color: black;
  color: white;
  padding-left: 10px;
}

