@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
  /*@apply bg-sky-100 text-blue-600 rounded p-2 cursor-pointer;*/
  @apply text-[#1687A7] bg-[#D3E0EA] rounded p-2 cursor-pointer hover:bg-[#276678] hover:text-[#D3E0EA];
}

.footer {
  @apply flex flex-row sticky bottom-0 w-full space-x-3 p-3 justify-end z-10 bg-[#F6F5F5] shadow-[0_-15px_30px_-25px_rgba(0,0,0,0.3)] border-solid border border-slate-200;
}

.lesson-link {
  @apply text-[#1687A7] bg-[#D3E0EA] rounded px-3 pt-2 pb-1 hover:bg-[#276678] hover:text-[#D3E0EA];
}

.accordion-row {
  @apply accordion-btn;
}

.accordion-row.collapsed::after {
  display: none;
}

.accordion-btn {
  @apply accordion-button relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none;
}

.accordion-body,
.accordion-body span,
.accordion-body b {
  white-space: pre-wrap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.red {
  color: #d46c75;
}

.purple {
  color: #bc78d2;
}

.blue {
  color: #61a3bf;
}

.green {
  color: #98b755;
}